body{
    background-image: url('../image/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*navbar*/
#navbar{
    display: flex; 
   top: 0px;
}
#navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
#navbar ul li a{
    display: flex;
    padding: 2px 11px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white
}
#logo{
    display: flex;
    flex-direction: column;
}
#logo img{
    height: 55px;
    width: 55px;
    filter: invert(100%);
    top: 5px;
    padding: 10px 10px;
    margin: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.container h2{
    text-align: center;
    font-size: 2rem;
}
.container p{
    font-size: 1.3rem;
}
#box ul{
    display: flex;
    list-style: none;
}
#box ul li{
    padding: 5px 7px;
    margin: 5px;
}
#audio{
    text-align: center;
}
.footer{
    background: black;
    color: white;
    padding: 9px 20px
}